<div class="app-container">
  <div class="sidebar">
    <div class="header">
      <div class="dachser-logo">
        <span class="brand-name">DACHSER</span>
        <span class="tagline">Intelligent Logistics</span>
      </div>
    </div>
    <div class="nav">
      <mat-card>
        <mat-card-content>
          <mat-icon aria-hidden="false" aria-label="money" fontIcon="attach_money"></mat-icon>
          Calculate Profit
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="main-content">
    <div class="card">
      <div class="shipment-id"><b>Income & Outcome</b></div>
      <app-shipment-form (shipmentSaved)="onShipmentSaved()"></app-shipment-form>
    </div>
    <div class="table-container">
      <app-shipment-table></app-shipment-table>
    </div>
  </div>
</div>


